.card {
  @include flex(column, center, center);
  background-color: #fafafa;
  gap: 0.5rem;
  width: 350px;
  min-height: 300px;
  height: fit-content;
  border-radius: 10px;
  padding-bottom: 0.5rem;
  @include boxShadow;
  cursor: pointer;
  .card-image {
    @include backgroundObjectImage(100%, 200px);
    position: relative;
    border-radius: 10px;
  }
  h2 {
    text-align: center;
  }
  p {
    text-align: center;
  }
}
@include media($md) {
  .card {
    width: 90vw;
  }
}
