.about {
  @include pagePadding;
  @include fadeAnimation(0.5s, 0s);
  display: flex;
  flex-direction: column;
  gap: 5vh;
  section{
    display: flex;
    flex-direction: column;
    gap: 2vh;
    h1 {
      font-size: 1.6rem;
    }
    p {
      font-size: 1.2rem;
    }
  }

}
