@import "./global/index";
@import "./components/index";
@import "./sections/index";
@import "./pages/index";
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
}
/*Scrollbar*/
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: $primary;
  border-radius: 0rem;
}

::-webkit-scrollbar-thumb {
  background: $secondary;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background: $secondary;
}
body {
  scroll-behavior: smooth;
  main {
    min-height: 75vh;
    height: fit-content;
    scroll-behavior: smooth;
  }
}
::selection {
  background: $secondary;
}
